# Extract Yahoo Finance Stock price data

In [1]:
import time
import datetime
import pandas as pd

ticker = 'AAPL'
period1 = int(time.mktime(datetime.datetime(2020, 12, 1, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2020, 12, 31, 23, 59).timetuple()))
interval = '1d' # 1d, 1m

query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

df = pd.read_csv(query_string)

# df.to_csv('AAPL.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-12-01,121.010002,123.470001,120.010002,122.720001,121.968102,127728200
1,2020-12-02,122.019997,123.370003,120.889999,123.080002,122.325890,89004200
2,2020-12-03,123.519997,123.779999,122.209999,122.940002,122.186752,78967600
3,2020-12-04,122.599998,122.860001,121.519997,122.250000,121.500969,78260400
4,2020-12-07,122.309998,124.570000,122.250000,123.750000,122.991783,86712000